* {
  width: 1600px;
}

#button {
  height: 75px;
  width: 100px;
  margin: auto;
  color: white;
  background-color: green;
  text-align: center;
}

#container {
  width: 800px;
  margin: auto;
}

.square {
  background-color: red;
  height: 50px;
  width: 50px;
  display: inline-block;
  border: solid 1px;
  margin: -1px;
}

.active {
  background-color: blue;
}
