* {
  width: 1600px;
}

button {
  width: auto;
  margin: auto;
  text-align: center;
  display: block;
}

#container {
  width: 800px;
  margin: auto;
}

.square {
  background-color: red;
  height: 50px;
  width: 50px;
  display: inline-block;
  border: solid 1px;
  margin: -1px;
}

.active {
  background-color: blue;
}
